boto==2.48.0
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.4
django-crispy-forms==1.7.2
django-filter==1.1.0
djangorestframework==3.8.2
gunicorn==19.7.1
idna==2.6
numpy==1.14.2
pandas==0.22.0
psycopg2==2.7.4
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
rest-condition==1.0.3
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
urllib3==1.22
whitenoise==3.3.1
# django-maintenance-mode==0.10.0
django-import-export==1.2.0
